html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --body-bg: #db7093;
  --color-primary: #000;
  --color-secondary: #fff;
}

.darkmode {
  --body-bg: #690023;
  --color-primary: #fff;
  --color-secondary: #3a0717;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-bg);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

path {
  fill: var(--color-primary);
}
